body {
  font-family: 'Roboto Mono', monospace, sans-serif;
}

.bg {
  background: url("portfoliobg.jpg") center center no-repeat;
  background-size: cover;
}

.bg>* {
  color: white;
  font: 20px;
  padding: 40px;
}

.jumbotron {
  background: none;
}

ul {
  list-style: none;
  color: whitesmoke;
}
