:root {
  --main-font: "Roboto Mono", monospace, sans-serif;
}

body {
  font-family: var(--main-font);
}

.bg {
  background: url("portfoliobg.jpg") center center no-repeat;
  background-size: cover;
}

#projects {
  background: none;
}

.bg>* {
  color: white;
  font: 20px;
  padding: 40px;
}

.navbar {
  font-family: var(--main-font);
  ;
}

#footer {
  padding: 20px;
}

#navbar {
  padding: 20px;
}

.jumbotron {
  font-family: var(--main-font);
  background: none;
}

.contactfooter {
  text-align: right;
}

#resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
  color: whitesmoke;
}

li {
  font-weight: bold;
}

div {
  font-family: var(--main-font);
}
